html,body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
h1{
    font-weight: 100;
}
h2{
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
}

#wrapper{
    width: 60%;
    margin: 0 auto;
}



header{
    margin-bottom: 20px;
    margin-top: 20px;
    float: left;
    width: 100%;
}
header h1{
    text-align: center;
}

nav{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

nav a{
    display: inline-block;
    padding: 8px 15px;
    margin-right: 10px;
    border-bottom: 1px solid transparent;
    font-weight: 200;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    cursor: pointer;
}
nav a:hover{
    border-bottom: 1px solid #ddd;
}
nav a.active{
    border-bottom: 1px solid #333;
}
section{
    float: left;
    width: 100%;
}
section .hero{
    width: 100%;
    height: 350px;
    background-image: url("../img/tea.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


}
section article{
    width: 45%;
    display: inline-block;
    padding: 20px;
    float: left;
    text-align: justify;
}
section article p{
    line-height: 1.5em;
}

footer{
    float: left;
    width: 100%;
    margin: 60px 0;
    text-align: center;
    font-weight: 200;
    letter-spacing: 3px;
}



.pages section article{
    width: 100%;
}

.pages section article img{
    width: 100%;
}


